@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 211, 211, 211;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --heading-color: #fff;
  --pop-g-color: #ADFF2F;
  --pop-b-color: #0162F6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --heading-color: #fff;
    --pop-g-color: #ADFF2F;
    --pop-b-color: #0162F6;
  }
}

body {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.pop-g {
  color: var(--pop-g-color);
}

.pop-b {
  color: var(--pop-b-color);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}